import requests
print("""
  _____   _____  __      __  _______ 
 / ____| |_   _| \ \    / / |__   __|
| |  __    | |    \ \  / /     | |   
| | |_ |   | |     \ \/ /      | |   
| |__| |  _| |_     \  /       | |   
 \_____| |_____|     \/        |_|   
 <!!> Follow me in instagram @givt_ops""")
print("-----------------------------------")
print("<?> Enter Number Like This:530000000 <?>")
Target = input("<%> Enter phone Number:")
def nams():
    url = "http://146.148.112.105/caller/index.php/UserManagement/search_number?number=" + Target + "&country_code=SA"
    r = requests.get(url)
    json_read = r.json()
    if ('"response":"0","msg":"Record found.') in r.text:
            for r in json_read['result']:
                print("<+> Phone:0",Target ," "+"<+>")
                print("<+> Name:",r['name']," "+"<+>")
                print("<+> ID :",r['id']," "+"<+>")
    else:
            print("<!> This Number was hacker (: ... we Dont have info <!>")

nams()
print("<^> Done enter to exite <^>")
out = input("")
exit()
